.products {
    display: flex;
   text-align: center;
    flex-direction: column;
    margin-top: 30px;
}

.products__header {
    font-weight: 500;
    font-size: 3em;
}

.products__description {
    color: #9d9d9d;
    margin-bottom: 10px;
}
.products__categories {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    flex-wrap: wrap;
}