.suggest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.suggest__title {
    font-size: 2em;
}

.suggest__subtitle {
    color: #707070;
}

.suggest__slider {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
}
