.header__logo {
    position: relative;
    top: 4px;
}

.header__hidden-search_disabled {
    display: none;
}

.header__cart-svg {
    position: relative;
    bottom: 2px;
}

.header__cart {
    display: flex;
    align-items: center;
    flex: .5;
}

.header__not-found {
    margin: 20px;
}