.header__logo {
    flex: 1.5;
}

.header__search {
    flex: 5;
    position: relative;
}


.header__hidden-search_disabled {
    display: none;
}

.header__cart-svg {
    position: relative;
}


.header__cart {
    display: flex;
    align-items: center;
    flex: .5;
}

.header__not-found {
    margin: 20px;
}