.right-navbar > li > div {
    margin-right: 20px;
    transition: color .2s ease-in-out;

}

.right-navbar > li {
    position: relative;
}

.right-navbar > li > div:hover {
    color: #f33535;
    cursor: pointer;
}

.right-navbar > li svg {
    margin-left: 5px;
}
