* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Khula', serif;
}

*::selection {
  background-color: #10a341;
  color: white;
}
mark {
  background-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  padding: 0 calc(20px - (100vw - 100%)) 0  0;
}
